* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  width: 960px;
  margin: 0 auto;
}

.list {
  padding: 50px 0;
}

li {
  padding: 20px 0 20px 20px;
  list-style: none;
}

li:nth-child(odd) {
  background-color: #f7f7f7;
}

.main-box {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
  padding-bottom: 10px;
}

.box {
  height: 200px;
  width: 30%;
  margin-right: 5%;
  margin-bottom: 40px;
  background-color: rgb(255, 208, 0);
}

.box:nth-child(1) {
  background-color: orange;
}

.box:nth-child(5) {
  background-color: orange;
}

.box:nth-child(7) {
  background-color: orange;
}

.box:nth-child(3) {
  margin-right: 0;
}

.box:nth-child(6) {
  margin-right: 0;
}

.box:nth-child(9) {
  margin-right: 0;
}
